:root {

    --textbasic: 60, 60, 60;
    --background: 230, 230, 230;
    --color1: 255, 255, 255;
    --color2: 200, 200, 200;
    --color3: 160, 160, 160;

    --lgfont: 'Public Sans', sans-serif;


    --moondisplay: initial;
    --sundisplay: none;

}

[data-theme="dark"] {
    --textbasic: 247, 247, 247;
    --background: 38, 38, 38;
    --color1: 64, 64, 64;
    --color2: 89, 89, 89;
    --color3: 160, 160, 160;


    --moondisplay: none;
    --sundisplay: initial;
}

@font-face {
    font-family: Billock;
    src: url(/home/fonts/BillockRegular-7BMGR.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;600&display=swap');
/* ALL ICONS HERE!!!! (REMEMBER TO PUT ICON NAME AND "icon" IN CLASS OF SVG CODE WITH A SPACE INBETWEEN!!! ex: class="name icon")*/

.icon {
    width: 24px;
    height: 24px;

    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.stroke {
    fill: none;
    stroke: rgb(var(--textbasic));
}

.fill {
    fill: rgb(var(--textbasic));
    stroke: none;
}

#iframecont{
    width: 80%;
    position: relative;
    left: 10%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

iframe{
    width: 100%;
    height: 500px;
    border-radius: 25px;
}

body {
    background-color: rgb(var(--background));
    font-family: courier;
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-color: rgb(var(--color1)) rgb(var(--color2));
    font-family: 'Public Sans', sans-serif;
}

#bar {
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(var(--background));
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 998;
    display: flex;
    justify-content: space-between;
}

.scrollstuff {
    --dropshadowstuff: 0px 2px 5px rgb(var(--color2));
    filter: drop-shadow(var(--dropshadowstuff));
    -webkit-drop-shadow: var(--dropshadowstuff);
    -moz-drop-shadow: var(--dropshadowstuff);
}

.homelink {
    width: max-content;
    height: max-content;
    padding: 12px 12px 10px 10px;
}

.links:link,
.links:visited {
    background-color: rgb(var(--color1));
    margin: 2px 0px 0px 0px;
    border-radius: 0px 0px 10px 10px;
    color: rgb(var(--textbasic));
    font-size: 30px;
    font-family: var(--lgfont);
    float: left;
    text-decoration: none !important;
    transition-duration: 0.4s;
}

.links:hover {
    background-color: rgb(var(--color2));
}

.themecont {
    width: 50px;
    height: 50px;
    right: 60px
}

.theme-switch {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

.moon,
.sun {
    margin-top: 5px;
    margin-left: 3px;
}

.moon {
    display: var(--moondisplay);
}

.sun {
    display: var(--sundisplay);
}

.sidemenu {
    width: 50px;
    height: 50px;
    z-index: 0;
}

.menubutton,
.closemenu {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 998;
}

.closemenu {
    z-index: 999;
}

#menux.open {
    transform: rotate(45deg);
}

#menux.open::before {
    top: 0;
    transform: rotate(0deg);
    background-color: rgb(var(--textbasic));
    z-index: 999;
}

#menux.open::after {
    top: 0;
    transform: rotate(90deg);
    background-color: rgb(var(--textbasic));
    z-index: 999;
}

#menux,
#menux::before,
#menux::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 25px;
    background-color: rgb(var(--textbasic));
    transition-duration: .25s;
    z-index: 2;
}

#menux {
    left: 16px;
}

#menux::before {
    content: '';
    top: -8px;
    background-color: rgb(var(--textbasic));
}

#menux::after {
    content: '';
    top: 8px;
    background-color: rgb(var(--textbasic));
}

#menubox {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: rgb(var(--color2));
    box-shadow: 2px 0px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 0;
    padding: 0px;
    padding-top: 50px;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(var(--textbasic));
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

/* .page::before {
    content: '\00FFEB   ';
    font-family: Arial, Helvetica, sans-serif;
} */

.menu__item:hover,
.menu__item:focus {
    background-color: rgb(var(--color1));
}


#mainbody, #aboutbody {
    margin: 0px 5vw;
    margin-top: 100px;
    width: 90%;
    height: 60vh;
}

#mainbody{
    display: grid;
    gap: 5%;
    grid-template-areas: 'NAD home-text' 'image1 image1';
}

#aboutbody{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-title{
    color: rgb(var(--textbasic));
    font-family: var(--lgfont);
    font-size: 40px;
}


.pages-cont,
.page {
    display: none;
}



.pages-cont {
    display: none;
    left: 20px;
    top: 15%;
    flex-direction: column;
    justify-content: space-between;
    grid-area: links;
}

.page {
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    background-color: inherit;
    color: rgb(var(--textbasic));
    font-size: 40px;
    font-family: var(--lgfont);
    border-bottom: 2px solid rgba(var(--textbasic), 0);
    transform: translateX(0%);
    transition: 0.5s ease;
}

/* .page:hover,
.page:focus {
    border-bottom: 2px solid rgb(var(--textbasic));
    transform: translateX(50px);

    transition: 0.5s ease;
}

.page::before {
    position: relative;
    display: inline-block;
    font-size: 50px;
    bottom: 12px;
    left: 10px;
    box-sizing: unset;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s ease;
}

.page:hover::before,
.page:focus::before {
    opacity: 1;
    transition: 0.5s ease;
} */

.name-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: NAD;
}

.exampleimage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100px 0px 100px 0px;
    grid-area: image1;
}

.exampleimage>img {
    position: relative;
    height: 100%;
    object-fit: cover;
    transform: translate(-550px);
}

.nad {
    width: 100%;
    height: 100%;
}

.home-text, .about-text {
    color: rgb(var(--textbasic));
    font-size: 20px;
    font-family: var(--lgfont);
    grid-area: home-text;
}

.about-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-link{
    display: flex;
    gap: 10px;
}

.contact-icon{
    height: max-content;
}

a {
    text-decoration: none;
    color: rgb(var(--textbasic));
}

p {
    margin: 0px;
}

@media only screen and (min-width: 500px) {

    .pages-cont {
        display: flex;
    }
    .page{
        display: block;
    }

    .sidemenu,
    .menubutton,
    .menux,
    #menubox,
    .closemenu,
    .menu__item {
        display: none;
    }

    #mainbody, #aboutbody {
        position: relative;
        width: 80vw;
        margin: auto;
        margin-top: 100px;
    }
    #mainbody{
        grid-template-areas: 'links image1 NAD' 'links image1 home-text';
    }

    #aboutbody{
        width: 60vw;
    }

    .about-text{
        margin-bottom: 10px;
    }

    .contact-links{
        gap: 20px;
    }

    .exampleimage {
        width: 400px;
        border-radius: 200px 0px 200px 0px;
    }

    .home-text {
        font-size: 30px;
    }
    
}

.title {
    color: rgb(var(--textbasic));
    font-family: var(--lgfont);
    font-size: 40px;
    margin-left: 10%;
    margin-bottom: 15px;
    font-weight: bold;
}

.bodyText{
    color: rgb(var(--textbasic));
    font-size: 18px;
    margin-left: 10%;
    margin-bottom: 30px;
}

#mainbodyforcards {
    width: 80vw;
    height: auto;
    margin: auto;
}

.card-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px;
    justify-content: center;
}

.card {
    width: 300px;
    height: max-content;
    border-radius: 35px;
    overflow: hidden;
    /* background-color: rgb(var(--color1)); */
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-areas: 'link link' 'title tags' 'date date';
}

.card>a{
    position: relative;
    grid-area: link;
}

.card>a>img {
    position: relative;
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.cardtitle{
    grid-area: title;
    font-weight: 700;
    padding-top: 11px;
}
.carddate{
    grid-area: date;
    font-size: 12px;
    font-weight: 300;
}

.cardtitle, .carddate{
    color: rgb(var(--textbasic));
    padding-left: 10px;
}

.tags-cont{
    position: relative;
    justify-content: flex-end;
    width: auto;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    right: 10px;
    grid-area: tags;
}

.tag>img{
    background-color: rgb(230, 230, 230);
}
.tag-non{
    color: rgb(var(--textbasic));
    background-color: rgba(var(--color2), 0.7);
    border-radius: 3px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 5px;
    padding-top: 6px;
}

.tag>svg{
    display: block;
    width: 25px;
    height: 25px;

}

.svg-cont, .img-cont{
    width: 80%;
    margin: 40px auto;
    margin-top: 0px;
}

.svg-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.svg-cont>div>* {
    width: 200px;
    height: 200px;
}

.img-cont {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-cont>div>img, .img-cont>div>video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 25px;
}

img[src$='.png'], img[src$='.gif'] {
    display: block;
    border-radius: 25px;
}

.onexone>*{
    aspect-ratio: 1 / 1;
}

.onexone{
    height: max-content;
}

.column2{
    grid-column: span 2;
}

.column2>*{
    aspect-ratio: 2 / 1;
}

.row2{
    grid-row: span 2;
}

.row2>*{
    aspect-ratio: 1 / 2;
}

.fullWidth{
    grid-column: span 4;
    /* width: 100%; */
}

.fullWidth>*{
    aspect-ratio: 4 / 1;
}

.anim{
    transition: 0.5s ease;
    opacity: 0;
}

.anim-up{
    transform: translateY(50px);
}

.anim-right{
    transform: translatex(50px);
}

.anim-left{
    transform: translatex(-50px);
}

.anim-delay{
    transition-delay: 0.25s !important;
}

.animstart{
    transition: 0.5s ease;
    opacity: 1;
    transform: translateY(0px) translateX(0px);
}

.pixelated{
    image-rendering: pixelated;
}

video {
    width: 100%;
    display: block;
}

.multipleImagesTag{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 10px;
    text-align: center;
    border-radius: 100px;
}

#tab-cont {
    width: 70%;
    margin:auto;
    margin-top: 50px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    all: unset;
    min-width: 125px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: solid 2px rgb(var(--color2));
    border-radius: 10px;
    transition: 0.5s ease;
}

.tab-button {
    color: rgb(var(--textbasic));
    font-size: 15px;
    font-family: var(--lgfont);
}

.tab-button:hover {
    background-color: rgb(var(--color1));
}

.tab-button.active {
    background-color: rgb(var(--color2));
    transition: 0.5s ease;
}

#quote-cont{
    position: relative;
    text-align: center;
    color: rgb(var(--textbasic));
    font-size: 15px;
    width: 80%;
    left: 10%;
    margin: 20px 0px;
}



@media only screen and (min-width: 500px) {
    .img-cont {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 1rem;
    }

    .img-cont>div>img {
        object-fit: cover;
    }

    .img-cont>div>img:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .img-cont>div>img:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 4;
    }

    .tab-button{
        width: 150px;
        height: 50px;
        border-radius: 5px;
    }

    #tab-cont {
        width: 100%;
    }
}



  
